<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title></title>
</head>
<body>
<form class="p-2" method="POST">
  <div class="form-group m-3" >
    <label>Hast du alle Fächer bestanden?(Ja/Nein)</label>
    <input type="text" name="fächer_bestanden">
    <label>In welchem Semester befindest du dich? *</label>
    <input type="number" name="semester">
    <label>Wie viele ECTS möchtest du hinzufügen? *</label>
    <input type="text" class="form-control" name="absolvierte_ECTS" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS möchtest du in der Vertiefung Sozial- und Methodenkompetenz hinzufügen? *</label>
    <input type="text" class="form-control" name="ECTS_sozial" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS möchtest du bereits in der Vertiefung Information Technology hinzufügen? *</label>
    <input type="text" class="form-control" name="ECTS_information" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS möchtest du bereits in der Vertiefung User Experience hinzufügen? *</label>
    <input type="text" class="form-control" name="ECTS_ux" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS möchtest du bereits in der Vertiefung Digital Innovation hinzufügen? *</label>
    <input type="text" class="form-control" name="ECTS_innovation" placeholder="Anzahl ECTS" required="required">
    <input type="submit" class="btn btn-primary" name="submit_button" value="Senden" formaction="{{ url_for('resultat')}}">
    <small>Felder markiert mit * sind Pflichtfelder.</small>
  </div>
</form>
</body>
</html>