<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<form class="p-2" method="POST">
  <div class="form-group m-3" >
    <label>Hast du alle Fächer bestanden?</label>
    <input type="text" name="fächer_bestanden">
    <label>In welchem Semester befindest du dich? *</label>
    <input type="number" name="semester">
    <label>Wie viele ECTS hast du bereits Absolviert? *</label>
    <input type="text" class="form-control" name="absolvierte_ECTS" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS hast du bereits in der Vertiefung Sozial- und Methodenkompetenz Absolviert? *</label>
    <input type="text" class="form-control" name="ECTS_sozial" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS hast du bereits in der Vertiefung Information Technology Absolviert? *</label>
    <input type="text" class="form-control" name="ECTS_information" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS hast du bereits in der Vertiefung User Experience Absolviert? *</label>
    <input type="text" class="form-control" name="ECTS_ux" placeholder="Anzahl ECTS" required="required">
    <label>Wie viele ECTS hast du bereits in der Vertiefung Digital Innovation Absolviert? *</label>
    <input type="text" class="form-control" name="ECTS_innovation" placeholder="Anzahl ECTS" required="required">
    <input type="submit" class="btn btn-primary" name="submit_button" value="Senden" formaction="{{ url_for('resultat')}}">
    <small>Felder markiert mit * sind Pflichtfelder.</small>
  </div>
</form>

</body>
</html>