<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>TEST</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Start.css') }}">


	</head>
	<body>

	<div id="hello" style="padding: 55px;">
		<div id="welcome">
		<h1>Hallo und wilkommen zu meinem ECTS Rechner, mein name ist Dominik</h1>
		</div>
		<form action="{{ url_for('berechnungen')}}">
		 <div class="form-group m-3">
    <input type="submit" class="btn btn-primary" name="button_name" value="Bei Erstnutzung">
		 </div>
			 </form>
		<form action="{{ url_for('berechnungen_addition')}}">
		 <div class="form-group m-3">
    <input type="submit" class="btn btn-primary" name="button_name" value="ECTS hinzufügen">
		 </div>
			 </form>
	</div>


	</body>
</html>