<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>TEST</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Start.css') }}">



	</head>
	<body>

	<div id="hello" style="padding: 55px;">
		<div id="welcome">
		<h1>Hallo und wilkommen zu meinem ECTS Rechner des Modules Prog 2 </h1>
		</div>
		<P> </P>
		<h3></h3>
		<h3>Hier hast du die Möglichkeit die errungenen ECTS einzutragen. Zuerst trägst du die ECTS ein, die du insgesamt in diesem Semester absolviert hast. Danach die ECTS der  Wahlpflichtmodule.
		Dies kannst du  für jedes Semester einzel machen. <p> </p>
		Hast du das aktuelle Semester eingetragen, bekommst du eine Zussammenfassung bezüglich des Semesters. Auf der letzten Seite giebt es eine Tabelle die dein Studium Zusammenfast.
		Auch wirst du darüber Informiert wie viele ECTS du in den Wahlpflichtmodulen noch absolvieren musst, um einen Major zu erhalzten.</h3>

		<form action="{{ url_for('berechnungen')}}">
		 <div class="form-group m-3">
    <input type="submit" class="btn btn-primary" name="button_name" value="Zum ECTS Rechner">
		 </div>
			 </form>


	</div>


	</body>
</html>