<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Resultat.css') }}">
<head>
    <meta charset="UTF-8">

</head>
<body>

<h2>{{ bestanden }}</h2>
<h2>Du hast im bereich UX bereits {{ ux }} ECTS absolviert</h2>
<h2>Du brauchst och  {{ ux_need }} weitere ECTS in dieser vertiefung</h2>
<h2>Du brauchst noch {{ ux_maj }} ECTS um eine Major in dder vertifung Ux zu erhalten</h2>
<a href="{{ url_for('semesteruebersicht') }} " class=" btn btn-primary">zur Semesterübersicht</a>

</body>
</html>