<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Resultat.css') }}">
<head>
    <meta charset="UTF-8">

</head>
<body>

<h2>{{ bestanden }}</h2>
<h2>Du hast in dieses Semester insgesamt {{ insgesamt }} ECTS  absolviert</h2>
<h2>Du hast im bereich User Experience dieses Semester {{ ux }} ECTS absolviert</h2>
<h2>Du hast im bereich Information Technology dieses Semester {{ it }} ECTS absolviert</h2>
<h2>Du hast im bereich Digital Innovation dieses Semester {{ di }} ECTS absolviert</h2>
<h2>Du hast im bereich Sozial- und Methodenkompetenz dieses Semester {{ sm }} ECTS absolviert</h2>
<h2>Somit hast du dieses Semester {{ lel }} ECTS in Plichtmodulen absolviert. </h2>
<a href="{{ url_for('semesteruebersicht') }} " class=" btn btn-primary">zur Semesterübersicht</a>

</body>
</html>