<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Resultat.css') }}">
    <title>Title</title>

</head>
<body>
<div class="m-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <th scope="col">Semester</th>
        <th scope="col">Information Technology</th>
        <th scope="col">Sozial- und Methodenkompetenz</th>
        <th scope="col">User Experience</th>
        <th scope="col">Digital Innovation</th>
        <th scope="col">Insgesamt</th>
        </thead>
        <tbody>
        {% for semester in daten %}
        <tr>
            <td>{{ semester[0] }}</td>
            <td>{{ semester[1] }}</td>
            <td>{{ semester[2] }}</td>
            <td>{{ semester[3] }}</td>
            <td>{{ semester[4] }}</td>
            <td>{{ semester[5] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h1> Du benötigtst noch {{ insgesamt }} ECTS um dein Studium zu beenden.</h1>
<p> </p>
<h2> Du benötigtst noch {{ it }} ECTS um den Major in der Vertiefung Information Technology zu erhalten.</h2>
<h2> Du benötigtst noch {{ di }} ECTS um den Major in der Vertiefung Digital Innovation zu erhalten.</h2>
<h2> Du benötigtst noch {{ ux }} ECTS um den Major in der Vertiefung User Experience zu erhalten.</h2>
<P> </P>
<h3> Du benötigtst noch {{ it_1 }} ECTS  der Vertiefung Information Technology um dein Studium beenden zu können. </h3>
<h3> Du benötigtst noch {{ di_1 }} ECTS  der Vertiefung Digital Innovation umd dein Studium beenden zu können. </h3>
<h3> Du benötigtst noch {{ ux_1 }} ECTS  der Vertiefung User Experience umd dein Studium beenden zu können. </h3>
<h3> Du benötigtst noch {{ sz }} ECTS  der Vertiefung Sozial- und Methodenkompetenz umd dein Studium beenden zu können. </h3>

<form action="{{ url_for('plotly')}}">
		 <div class="form-group m-3">
    <input type="submit" class="btn btn-primary" name="button_name" value="Zur Visualisierung">
		 </div>
			 </form>

    </body>
</html>