<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Resultat.css') }}">
    <title>Title</title>

</head>
<body>
<div class="m-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <th scope="col">Semester</th>
        <th scope="col">Information Technology</th>
        <th scope="col">Sozial- und Methodenkompetenz</th>
        <th scope="col">User Experience</th>
        <th scope="col">Digital Innovation</th>
        <th scope="col">Insgesamt</th>
        </thead>
        <tbody>
        {% for semester in daten %}
        <tr>
            <td>{{ semester[0] }}</td>
            <td>{{ semester[1] }}</td>
            <td>{{ semester[2] }}</td>
            <td>{{ semester[3] }}</td>
            <td>{{ semester[4] }}</td>
            <td>{{ semester[5] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2> Du benötigtst noch *** ECTS um dein Studium zu beenden.</h2>
<h2> Du benötigtst noch *** ECTS um den Major in der Vertiefung Information Technology zu erhalten.</h2>
<h2> Du benötigtst noch *** ECTS um den Major in der Vertiefung Digital Innovation zu erhalten.</h2>
<h2> Du benötigtst noch *** ECTS um den Major in der Vertiefung User Experience zu erhalten.</h2>

    </body>
</html>